/* BODY */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: 'Lobster', cursive;
  background-color: rgb(180, 180, 180);
}

/* MAIN */
main {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(180, 180, 180);
}

.pergunta-comecar{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CAIXA INICIAR SE QUER JOGAR */
.caixa-iniciar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa-iniciar > h1{
  font-size: 100px;
}

.caixa-iniciar > button{
  font-size: 60px;
  margin-top: 50px;
  border-radius: 10px;
}

/* CARTINHA */
.caixa-carta {
  width: 450px;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
}

.caixa-carta img {
  width: 100%;
  margin: 0 10px;
  object-fit: cover;
}

.verso>h1 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  margin: 0 30px;
}

.face {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
  background-color: rgb(255, 255, 255);
}

.verso {
  transform: rotateY(180deg);
  background-color: red;
}

/* GIRAR CARTA */
.girar-verso {
  transform: rotateY(0deg);
}

.girar-frente {
  transform: rotateY(-180deg);
}


/* BOTOES RESPOSTA */
.botoes-feito>button {
  width: 200px;
  height: 150px;
  font-size: 30px;
  border-radius: 50px;
  margin: 20px 30px 0 30px;
  cursor: pointer;
}

.feito {
  background-color: rgb(42, 153, 42);
}

.bebeu {
  background-color: orange;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa-jogador {
  margin: 20px 0;
}

.caixa-jogador>h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
}

/* RESPOSTA */
.resposta {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.resposta>button {
  width: 100px;
  height: 100%;
  border-radius: 10px;
}

.respostaCorreta {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: rgb(112, 112, 255);
}

/* RANKING */

.caixa-iniciar-ranking{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.ranking{
  width: 100%;
  display: flex;
}

.ranking > h1{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border: solid 1px black;
}

















/* DESATIVAR */
.desativar {
  display: none;
}